.resizer {
  @apply
    cursor-col-resize
    absolute
    top-1/3
    right-0
    h-2/5
    w-0.5
    bg-[rgb(115_115_115)]
    transition-all
    hover:top-1/4
    hover:h-4/6
    hover:w-1
    hover:bg-[rgb(99_102_241)]
    active:top-1/4
    active:h-4/6
    active:w-1
    active:bg-[rgb(99_102_241)]
  ;
}
th:last-child > .resizer {
  @apply hidden
}